:root {
  --body-background: gray;
}

body {
  background-color: var(--body-background);
}

.wrapper {
  width: 610px;
  margin: 100px auto;
  padding: 25px;
}

#game-board{
  margin: 100px auto;
}

#welcome-board{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  text-align: center;
  background-color: black;
  color: white;
}

.input-items {
  margin: 82px auto 0;
}

#user-name {
  width: 200px;
  height: 40px;
  font-size: 2rem;
}

.btn-area{
  display: flex;
  justify-content: space-around;
  width: 180px;
  margin: 20px auto 0;
}

.btn-style{
  width: 60px;
  height: 40px;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.7;
}

.btn-style:hover{
  opacity: 1;
}

.cancel{
  background-color: pink;
}

.submit{
  background-color: skyblue;
}

.joshua-test{
  background-color: skyblue;
  font-size: 1.5rem;
  text-align: center;
  line-height: 100px;
  transition: width 1s, height 1s, line-height 1s;
  height: 100px;
  width: 100px;
}

.joshua-test:hover {
  height: 150px;
  width: 150px;
  line-height: 150px;
}